@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', cursive, sans-serif;
    /* font-family: 'Bungee Inline', cursive; */
    color: #4D4D4D;
  }
  
  li {
    font-family: 'Bungee', cursive, sans-serif;
  }
  
.overlay {
    background-color: rgba(0, 0, 0, 0.6); 
  }
  